.colur{
    color: black;
}
.nav-link:hover{
    background-color: rgb(217, 225, 195);
    

}
.ho{
    background-color: rgba(255, 140, 0, 0.833);
}
.i{
    color: rgb(120, 3, 3);
}
.f{
    color: rgb(43, 42, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
   
}
.pro{
    position: relative;
}
.pro .love{
    position: absolute;
   top: 10px;
   left: 88%;
  color: rgb(255, 12, 12);
    
    
}
.no{
    position: relative;

}
.pro .no{
    position: absolute;
    background-color: rgb(254, 206, 75);
    top: 10px;
    left: 2%;
    border-radius: 15px;
    font-size: 1rem;
    padding: 3px 3px;
}

.i-zoom{
    overflow: hidden;
}
.i-zoom img {
    
    object-fit: cover;
 transition: 0.7s;
}
.i-zoom img:hover{
   
    transform: scale(1.1);
  
}