.colur{
    color: black;
}
.nav-link:hover{
    background-color: rgb(217, 225, 195);
    

}
.ho{
    background-color: rgba(255, 140, 0, 0.833);
}
.i{
    color: rgb(120, 3, 3);
}
.f{
    color: rgb(43, 42, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
   
}
.pro{
    position: relative;
}
.pro .love{
    position: absolute;
   top: 10px;
   left: 88%;
  color: rgb(255, 12, 12);
    
    
}
.no{
    position: relative;

}
.pro .no{
    position: absolute;
    background-color: rgb(254, 206, 75);
    top: 10px;
    left: 2%;
    border-radius: 15px;
    font-size: 1rem;
    padding: 3px 3px;
}

.i-zoom{
    overflow: hidden;
}
.i-zoom img {
    
    object-fit: cover;
 transition: 0.7s;
}
.i-zoom img:hover{
   
    transform: scale(1.1);
  

}

/* From Uiverse.io by ferlagher */ 
.bt{
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.bt::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.bt:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.bt:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}


